*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Colors*/
    --primary-100: #59335c;
    --primary-75: #952fa5;
    --primary-50: #c61ee1;
    --primary-25: #f6c2fe;
    --secondary-100: #000;
    --secondary-75: #fff;
    --secondary-50: #d9d9d9;
    --secondary-25: #eee;
    --tertiary-100: #a43e04;
    --tertiary-75: #ed5601;
    --tertiary-50: #fb8a38;
    --tertiary-25: #fdd3b6;

    /*  Fonts */
    --font-regular: GeneralSans-Regular;
    --font-bold: GeneralSans-Bold;
    --font-semibold: GeneralSans-Semibold;

    --h1: calc(var(--4) * 16);
    --h2: calc(var(--4) * 8);
    --h3: calc(var(--4) * 6);
    --p: calc(var(--4) * 4);
    --small-text: calc(var(--4) * 3);

    /* Sizes */
    --4: 4px;
    --spacing-xs: calc(var(--4) * 2);
    --spacing-s: calc(var(--4) * 4);
    --spacing-m: calc(var(--4) * 6);
    --spacing-lg: calc(var(--4) * 10);
    --spacing-xl: calc(var(--4) * 12);
    --spacing-xxl: calc(var(--4) * 24);

    /* Other */
    --border-radius: 8px;
    --padding: var(--spacing-xs) var(--spacing-s);
}

@import './assets/fonts/GeneralSans_Complete/Fonts/WEB/css/general-sans.css';

h1 {
    font-size: var(--h1);
    font-family: var(--font-bold);
    line-height: 90%;
    margin-bottom: 8px;
}
h2,
h3 {
    font-size: var(--h2);
    text-transform: capitalize;
    font-family: var(--font-bold);
}
h3 {
    font-size: var(--h3);
    text-transform: capitalize;
    font-family: var(--font-semibold);
}
p {
    font-size: var(--p);
}

a {
    color: var(--secondary-75);
}

.logo {
    /* filter: invert(100%) sepia(97%) saturate(11%) hue-rotate(156deg)
        brightness(102%) contrast(103%);
    stroke: #fff;
    fill: #fff; */
    color: #fff;
}

body {
    color: var(--secondary-75);
    font-family: GeneralSans-Regular;
    min-height: 100vh;
    background-image: linear-gradient(#3a0c42, #0c1142);
    width: calc(100vw - 16px * 2);
    margin: auto;
}

button,
.button {
    font-size: var(--small-text);
    font-weight: bold;
    border: transparent;
    border-radius: var(--border-radius);
    background-color: var(--tertiary-50);
    padding: var(--padding);
}

button:hover,
.button:hover {
    background-color: var(--tertiary-25);
}

.hb-menu,
.hb-menu::after {
    content: '';
    height: 4px;
    width: 64px;
    background-color: var(--tertiary-50);
    cursor: pointer;
}

.hb-menu {
    margin-top: 16px;
    position: relative;
}

.hb-menu::after {
    position: absolute;
    width: var(--spacing-m);
    top: var(--spacing-xs);
}

.menu {
    display: flex;
    display: none;
}

footer {
    display: none;
}

.Home section {
    text-align: center;
}

.Home > * {
    margin-bottom: var(--spacing-xxl);
}

.Home > *:first-child {
    margin-top: var(--spacing-xxl);
}

.Home > *:last-child {
    margin-bottom: var(--spacing-lg);
}

.Home section > * {
    margin-bottom: var(--spacing-m);
}

.Home section > *:last-child {
    margin-bottom: 0;
}

.hero img {
    width: 100%;
}

.cards {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.card {
    border-radius: calc(var(--border-radius) * 2);
    padding: var(--spacing-m);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-s) var(--spacing-m);
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    grid-row: span 2;
    align-self: center;
}

.card h3,
.card p {
    grid-column: span 3;
    align-self: baseline;
}

.glass:before {
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 7%;
}
