@import '../fonts/GeneralSans_Complete/Fonts/WEB/css/general-sans.css';
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: url("/src/assets/images/stars.svg") repeat-y, linear-gradient(#3a0c42, #0c1142) fixed;
  background-position: center;
  background-size: cover;
  color: #fff;
}
body .App > * {
  margin: 16px auto;
  width: calc(100vw - 64px);
}
body .App .navigation,
body .App .page-footer {
  margin: 0;
  width: 100vw;
}

.WIP {
  display: none !important;
}

/** Headers, Buttons, Img and Spacing DEFAULTS **/
h1 {
  font-size: 32px;
  font-family: GeneralSans-Bold;
  letter-spacing: -0.02em;
  line-height: 90%;
}
h1 + p {
  width: 223px;
  margin-inline: auto;
}

h2 {
  font-size: 24px;
  font-family: GeneralSans-Bold;
  text-transform: capitalize;
}

h3,
.Pomodoro textarea[name=title] {
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
}
h3.bold,
.Pomodoro textarea[name=title].bold {
  font-family: GeneralSans-Bold;
}
h3.regular,
.Pomodoro textarea[name=title].regular {
  font-family: GeneralSans-Regular;
}
h3.card-title,
.Pomodoro textarea[name=title].card-title {
  font-family: GeneralSans-Semibold;
}

p,
.Pomodoro textarea[name=description] {
  font-family: GeneralSans-Regular;
  font-size: 16px;
}
p.card-text,
.Pomodoro textarea[name=description].card-text {
  font-size: 12px;
  text-align: start;
  margin-top: 8px;
}
p + button,
p + .button,
.Pomodoro textarea[name=description] + button,
.Pomodoro textarea[name=description] + .button {
  margin-top: 16px;
  margin-inline: auto;
}

h1,
h2,
p {
  text-align: center;
}

strong {
  font-family: GeneralSans-Bold;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 8px;
}
h1 + button,
h1 + .button,
h2 + button,
h2 + .button,
h3 + button,
h3 + .button {
  margin-top: 24px;
  margin-inline: auto;
}

button,
.button {
  cursor: pointer;
  background-color: #fb8a38;
  border: transparent;
  border-radius: 8px;
  box-shadow: 0px 4px 8px hsla(0, 0%, 0%, 0.25);
  color: #000;
  display: block;
  font-family: GeneralSans-Bold;
  font-size: 12px;
  padding: 12px 24px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 16px;
}
button.icon,
.button.icon {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
button.icon svg,
.button.icon svg {
  color: #fff;
  height: 32px;
  width: 100%;
}
button.icon:hover,
.button.icon:hover {
  background-color: transparent;
}
button.icon.plus-icon,
.button.icon.plus-icon {
  margin: auto;
}
button.icon.plus-icon svg,
.button.icon.plus-icon svg {
  color: #fb8a38;
  height: 50px;
  width: 100%;
}
button.icon.plus-icon + p,
.button.icon.plus-icon + p {
  margin-top: 16px;
  margin-inline: auto;
  width: 152px;
}
button.icon.plus-icon + div,
.button.icon.plus-icon + div {
  margin-top: 24px;
}
button:hover,
.button:hover {
  background-color: #ffba88;
}
button + p,
.button + p {
  margin-top: 24px;
}

img,
svg {
  display: block;
  height: 100%;
  width: 100%;
}

/** Elements **/
.navigation,
.page-footer {
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation .logo img,
.page-footer .logo img {
  cursor: pointer;
  display: inline;
  width: -moz-min-content;
  width: min-content;
  height: 40px;
}

.navigation {
  height: 81px;
}
.navigation .menu-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navigation .menu-btn span {
  background-color: #fb8a38;
  content: "";
  width: 49px;
  height: 4px;
  inset: 0;
}
.navigation .menu-btn span:last-child {
  width: 27px;
}

.page-footer {
  height: 120px;
}

.card {
  gap: 24px;
  padding: 16px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.card .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.card .header .icon {
  height: 20px;
  width: 20px;
  margin: 0;
}
.card.img-left {
  display: flex;
}
.card.img-left img {
  width: 40px;
}
.card .controls {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

#Card > * {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #fff;
  border-radius: 8px;
  position: relative;
}
#Card .migrate-list {
  margin-top: 8px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  font-family: GeneralSans-Regular;
  font-size: 16px;
  padding: 8px 0;
  margin-left: calc(50% - 32px);
  z-index: 10000;
}
#Card .migrate-list > * {
  cursor: pointer;
}
#Card .migrate-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px 16px;
  margin: 0;
}
#Card .migrate-list .show:last-of-type {
  border-bottom: none;
}
#Card textarea {
  cursor: pointer;
  resize: none;
  background: transparent;
  border: transparent;
  color: #fff;
  width: 100%;
}
#Card textarea:focus {
  outline: #fb8a38;
}

/** Pages **/
#Home {
  margin-inline: auto;
}
#Home section section {
  margin-bottom: 48px;
}
#Home section section:last-child {
  margin-bottom: 0;
}
#Home > :last-child h2 {
  text-transform: none;
}
#Home > section {
  margin-top: 96px;
  margin-bottom: 64px;
}
#Home > section:first-child img {
  width: 262px;
  margin-inline: auto;
}
#Home > section:nth-child(2) > :first-child p,
#Home > section:nth-child(2) > p, #Home > section:nth-child(3) > :first-child p,
#Home > section:nth-child(3) > p {
  width: 323px;
  margin-inline: auto;
}
#Home > section:nth-child(2) > :last-child {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
}
#Home > section:nth-child(2) > :last-child > * {
  margin-bottom: 8px;
}
#Home > section:nth-child(2) > :last-child > *:last-child {
  margin-bottom: 0;
}

.Pomodoro h2 {
  text-align: left;
  font-family: GeneralSans-Semibold;
  margin-bottom: 8px;
}
.Pomodoro > * {
  margin-bottom: 24px;
  width: calc(100vw - 64px);
  margin-inline: auto;
}
.Pomodoro > :nth-child(2) {
  margin-top: 48px;
  margin-bottom: 32px;
}
.Pomodoro > ul {
  margin-bottom: 64px;
}
.Pomodoro .activeTask {
  margin-bottom: 48px;
}
.Pomodoro .activeTask li {
  list-style: none;
  margin-bottom: 16px;
}
.Pomodoro .Timer {
  text-align: center;
  margin-bottom: 48px;
}
.Pomodoro .Timer > * {
  margin-bottom: 32px;
}
.Pomodoro .Timer .timer-clock {
  font-family: GeneralSans-Bold;
  font-size: clamp(96px, 7vw, 108px);
  line-height: 90%;
  letter-spacing: -0.02em;
}
.Pomodoro .Timer .timer-btns {
  position: relative;
}
.Pomodoro .Timer .start {
  margin-inline: auto;
  font-size: 16px;
  padding: 16px 40px;
}
.Pomodoro .Timer .reset {
  position: absolute;
  left: calc(50% + 60.5px + 32px);
  top: calc(50% - 16px);
}
.Pomodoro .pill-nav {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 8px;
  display: grid;
  gap: 8px;
  list-style: none;
}
.Pomodoro .pill-nav > * {
  width: 100%;
}
.Pomodoro .pill-nav.display-options {
  grid-template-columns: repeat(2, 1fr);
}
.Pomodoro .pill-nav.mode-btn, .Pomodoro .pill-nav.timer-options {
  grid-template-columns: repeat(3, 1fr);
}
.Pomodoro .pill-nav input:checked + label, .Pomodoro .pill-nav.display-options > *.active {
  background-color: #fff;
  color: #000;
}
.Pomodoro .pill-nav input {
  display: none;
}
.Pomodoro .pill-nav label, .Pomodoro .pill-nav.display-options > * {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  text-align: center;
}
.Pomodoro .hidden {
  display: none;
}
.Pomodoro .lists {
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 8px 8px 0 0;
  border-top: 1px solid #fff;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%);
  padding: 24px 32px;
}
.Pomodoro .lists > * {
  margin-bottom: 24px;
}
.Pomodoro .lists > *:last-child {
  margin-bottom: 0;
}
.Pomodoro .list li {
  list-style: none;
  margin-bottom: 16px;
}
.Pomodoro .list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .Pomodoro .Timer .pill-nav {
    border: none;
    margin-bottom: 16px;
  }
  .Pomodoro .Timer .pill-nav label {
    font-family: GeneralSans-Regular;
    padding: 10px;
  }
  .Pomodoro .Timer .pill-nav input:checked + label {
    font-family: GeneralSans-Bold;
    background-color: #fff;
    background-color: transparent;
    color: #fff;
  }
}
@media (min-width: 1024px) {
  body .App > * {
    width: 90vw;
    margin: auto;
  }
  /** Headers, Buttons, Img and Spacing DEFAULTS **/
  h1 {
    font-size: 108px;
    text-align: left;
  }
  h1 + p {
    font-size: 32px;
    margin-left: 0;
    margin-top: 40px;
    text-align: left;
    width: 500px;
  }
  h1 + p + .button {
    margin-top: 64px;
    margin-left: 0;
  }
  h2 {
    font-size: 64px;
  }
  h2 + button,
  h2 + .button {
    margin-top: 48px;
  }
  h3,
  .Pomodoro textarea[name=title] {
    font-size: 32px;
  }
  h3.card-title,
  .Pomodoro textarea[name=title].card-title {
    font-size: 24px;
  }
  p,
  .Pomodoro textarea[name=description] {
    font-size: 24px;
  }
  .navigation {
    height: 160px;
    margin-bottom: 32px !important;
  }
  button,
  .button {
    font-size: 16px;
    padding: 16px 40px;
  }
  button + p,
  .button + p {
    margin-top: 48px;
  }
  /** Elemets **/
  /** Pages **/
  #Home > :first-child {
    display: flex;
    align-items: center;
    margin-top: 96px;
  }
  #Home > :first-child > :first-child {
    width: 724px;
  }
  #Home > :last-child {
    margin-bottom: 96px;
  }
  #Home > :last-child h2 {
    font-size: 48px;
  }
  #Home > section {
    margin-top: 160px;
  }
  #Home > section:first-child img {
    height: 100%;
    width: 356px;
    margin-inline: auto;
  }
  #Home > section > section {
    margin-bottom: 64px;
  }
  #Home > section:nth-child(2) > :first-child p,
  #Home > section:nth-child(2) > p, #Home > section:nth-child(3) > :first-child p,
  #Home > section:nth-child(3) > p {
    width: 587px;
    margin-inline: auto;
  }
  #Home > section:nth-child(2) > :last-child {
    background-color: transparent;
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, 1fr);
  }
  #Home > section:nth-child(2) > :last-child > * {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 0;
  }
  #Home > section:nth-child(2) > :last-child > * img {
    width: 100px;
  }
  .Pomodoro {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    -moz-column-gap: 46px;
         column-gap: 46px;
    row-gap: 0;
    grid-auto-rows: min-content;
    margin-bottom: 32px !important;
  }
  .Pomodoro > * {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .Pomodoro .pill-nav.timer-options .button {
    padding-inline: 8px;
  }
  .Pomodoro .pill-nav.display-options {
    border: none;
    grid-column: span 13;
    grid-row: 1/span 1;
  }
  .Pomodoro .pill-nav.display-options > * > *:first-child {
    display: none;
    border: 1px solid red;
  }
  .Pomodoro .pill-nav.display-options > * > *:last-child {
    grid-column: 2;
    text-align: right;
  }
  .Pomodoro .pill-nav.display-options > * > *:last-child button {
    display: inline;
    width: initial;
    background-color: #fff;
    color: #000;
  }
  .Pomodoro .Timer,
  .Pomodoro .add-task,
  .Pomodoro .activeTask,
  .Pomodoro .today {
    grid-column: 5/span 5;
  }
  .Pomodoro .Timer {
    border-radius: 16px 16px 0 0;
    grid-row: 2/span 6;
    padding-top: 40px;
    margin-top: 48px;
  }
  .Pomodoro .activeTask {
    grid-row: 8/span 1;
  }
  .Pomodoro .today {
    border-radius: 0 0 16px 16px;
    grid-row: 9/span 1;
    padding-bottom: 40px;
  }
  .Pomodoro .to-do {
    grid-column: 1/span 4;
  }
  .Pomodoro .done {
    grid-column: 10/span 4;
  }
  .Pomodoro .add-task {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
    padding: 12px 16px;
    background-color: #fff;
    display: inline;
    margin-bottom: 24px;
  }
  .Pomodoro .to-do,
  .Pomodoro .done {
    border-radius: 16px;
    grid-row: 2/span 10;
  }
  .Pomodoro .to-do > .list-area,
  .Pomodoro .done > .list-area {
    padding: 24px;
    border-radius: 16px;
  }
  .Pomodoro .activeTask,
  .Pomodoro .today,
  .Pomodoro .Timer,
  .Pomodoro .to-do .list-area,
  .Pomodoro .done .list-area {
    background-color: rgba(255, 255, 255, 0.07);
    height: -moz-min-content;
    height: min-content;
  }
  .Pomodoro .Timer,
  .Pomodoro .activeTask,
  .Pomodoro .today {
    padding-inline: 80px;
  }
  .Pomodoro .pill-nav .button {
    padding-inline: 20px;
    font-size: 12px;
  }
  .Pomodoro .list-area > * {
    text-align: left;
  }
  .Pomodoro h2 {
    font-size: 32px;
  }
}/*# sourceMappingURL=index.css.map */