@import '../fonts/GeneralSans_Complete/Fonts/WEB/css/general-sans.css';
$space-white: #fff;
$space-black: #000;
$space-orange-c: #fb8a38;
$space-bg-top: #3a0c42;
$space-bg-bottom: #0c1142;

//Fonts
$font-family-sans-serif: GeneralSans-Regular;
$display-font-sizes: (
    1: 6.75em,
    2: 2em,
    3: 1.5em,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,
);
// $display-font-family: null;

// Colors
$primary: $space-orange-c;
$secondary: $space-white;

$nav-pills-link-active-bg: $space-white;
$nav-pills-link-active-color: $space-black;

// Cards
$card-bg: transparent;
$card-color: $space-white;

// Buttons
$btn-font-family: GeneralSans-Bold;
$btn-color: $space-white;
$card-border-color: transparent;

body {
    min-height: 100vh;
    background-image: linear-gradient($space-bg-top, $space-bg-bottom);
}

.glass {
    backdrop-filter: blur(1rem) !important;
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.1),
        hsla(0, 0%, 100%, 0)
    );
    .border {
        $card-border-color: $space-white;
    }
}

.card {
    flex-direction: row !important;
    align-items: center;
    img {
        width: 10%;
    }
}

h1,
h2,
.h1,
.h2 {
    font-family: GeneralSans-Bold;
}
h2,
h3,
.h2,
.h3 {
    text-transform: capitalize;
}

h3,
.h3 {
    font-family: GeneralSans-Semibold;
}

.timer-options {
    .btn {
        font-family: GeneralSans-Regular;
    }
    .btn.active {
        font-family: GeneralSans-Bold;
    }
}

@import '../../../node_modules/bootstrap/scss/bootstrap';
