@import '../fonts/GeneralSans_Complete/Fonts/WEB/css/general-sans.css';
$space-white: #fff;
$space-black: #000;
$space-orange-c: #fb8a38;
$space-bg-top: #3a0c42;
$space-bg-bottom: #0c1142;

$spacer: 8px;
$spacers: (
    0: 0,
    1: $spacer,
    2: $spacer * 2,
    //16
    3: $spacer * 3,
    //24
    4: $spacer * 4,
    //32
    5: $spacer * 5,
    //40
    6: $spacer * 6,
    //48
    7: $spacer * 7,
    //56
    8: $spacer * 8,
    //64
    9: $spacer * 9,
    //72
    10: $spacer * 10,
    //80
    11: $spacer * 11,
    //88
    12: $spacer * 12,
    //96
);

//Fonts
$font-family-sans-serif: GeneralSans-Regular;
$display-font-sizes: (
    1: 108px,
    2: 64px,
    3: 32px,
    4: 24px,
    5: 16px,
    6: 16px,
    7: 16px,
);
// $display-font-family: null;

// Colors
$primary: $space-orange-c;
$secondary: $space-white;

$nav-pills-link-active-bg: $space-white;
$nav-pills-link-active-color: $space-black;

// Cards
$card-bg: transparent;
$card-color: $space-white;
$card-border-color: transparent;

// Buttons
$btn-font-family: GeneralSans-Bold;
$btn-color: $space-white;
$btn-padding-y-sm: 12px;
$btn-padding-x-sm: 24px;
$btn-padding-y-lg: 16px;
$btn-padding-x-lg: 40px;
$btn-border-radius-sm: 8px;
$btn-border-radius-lg: 12px;

body {
    min-height: 100vh;
    background-image: linear-gradient($space-bg-top, $space-bg-bottom);
}

.glass {
    backdrop-filter: blur(1rem) !important;
    background-image: linear-gradient(
        hsla(0, 0%, 100%, 0.1),
        hsla(0, 0%, 100%, 0)
    );
    .border {
        $card-border-color: $space-white;
    }
}

.card {
    flex-direction: row !important;
    align-items: center;
    img {
        width: 10%;
    }
}

h1,
.h1 {
    font-size: 32px !important;
    // font-size: 108px !important;
    font-family: GeneralSans-Bold;
}

.display-1 {
    font-size: 108px !important;
    font-family: GeneralSans-Bold;
}

h2,
.h2 {
    font-size: 24px !important;
    // font-size: 32px !important;
    font-family: GeneralSans-Bold;
}
h3,
.h3,
.card-title {
    font-size: 16px !important;
    font-family: GeneralSans-Semibold;
}

h2,
.h2,
h3,
.h3 {
    text-transform: capitalize !important;
}

h4,
.h4 {
    font-size: 32px !important;
}

h5,
.h5 {
    font-size: 24 !important;

    font-family: GeneralSans-Semibold;
}

p,
.body-text {
    font-family: GeneralSans-Regular;
}
// h1,
// h2,
// .h1,
// .h2 {
//     font-family: GeneralSans-Bold;
// }
// h2,
// h3,
// .h2,
// .h3 {
//     text-transform: capitalize;
// }

// h3,
// .h3,
// .card-title {
//     font-family: GeneralSans-Semibold;
// }

.timer-options {
    .btn {
        font-family: GeneralSans-Regular;
    }
    .btn.active {
        font-family: GeneralSans-Bold;
    }
}

@media (max-width: 992px) {
    // .navbar-collapse.collapsing .navbar-nav {
    //     display: block;
    //     position: fixed;
    //     top: 0;
    //     bottom: 0;
    //     left: -25%;
    //     transition: all 0.2s ease;
    // }

    // .navbar-collapse.show .navbar-nav {
    //     background-image: linear-gradient($space-bg-top, $space-bg-bottom);
    //     border: 1px solid red;
    //     position: fixed;
    //     inset: 0;
    //     flex-direction: column;
    //     height: auto;
    //     width: 100%;
    //     transition: left 0.35s ease;
    //     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    // }
}

@import '../../../node_modules/bootstrap/scss/bootstrap';
