@import '../fonts/GeneralSans_Complete/Fonts/WEB/css/general-sans.css';
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#3a0c42, #0c1142);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff;
}
body .App > * {
  margin: 16px auto;
  width: calc(100vw - 32px);
}
body .App > *:first-child, body .App > *:last-child {
  margin: 0;
  width: 100%;
}

/** Headers, Buttons, Img and Spacing DEFAULTS **/
h1 {
  font-size: 32px;
  font-family: GeneralSans-Bold;
  letter-spacing: -0.02em;
  line-height: 90%;
}
h1 + p {
  width: 223px;
  margin-inline: auto;
}

h2 {
  font-size: 24px;
  font-family: GeneralSans-Bold;
  text-transform: capitalize;
}

h3 {
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
}
h3.bold {
  font-family: GeneralSans-Bold;
}
h3.regular {
  font-family: GeneralSans-Regular;
}
h3.card-title {
  font-family: GeneralSans-Semibold;
}

p {
  font-family: GeneralSans-Regular;
  font-size: 16px;
}
p.card-text {
  font-size: 12px;
  text-align: start;
  margin-top: 8px;
}
p + button,
p + .button {
  margin-top: 16px;
  margin-inline: auto;
}

h1,
h2,
p {
  text-align: center;
}

strong {
  font-family: GeneralSans-Bold;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 8px;
}
h1 + button,
h1 + .button,
h2 + button,
h2 + .button,
h3 + button,
h3 + .button {
  margin-top: 24px;
  margin-inline: auto;
}

button,
.button {
  background-color: #fb8a38;
  border: transparent;
  border-radius: 8px;
  box-shadow: 0px 4px 8px hsla(0, 0%, 0%, 0.25);
  color: #000;
  display: block;
  font-family: GeneralSans-Bold;
  font-size: 12px;
  padding: 12px 24px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}
button.icon,
.button.icon {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
button.icon svg,
.button.icon svg {
  color: #fff;
  height: 32px;
  width: 100%;
}
button.icon:hover,
.button.icon:hover {
  background-color: transparent;
}
button.icon.plus-icon,
.button.icon.plus-icon {
  margin: auto;
  margin-bottom: 16px;
}
button.icon.plus-icon svg,
.button.icon.plus-icon svg {
  color: #fb8a38;
  height: 50px;
  width: 100%;
}
button.icon.plus-icon + p,
.button.icon.plus-icon + p {
  margin: auto;
  width: 152px;
}
button:hover,
.button:hover {
  background-color: #ffba88;
}
button + p,
.button + p {
  margin-top: 24px;
}

img,
svg {
  display: block;
  height: 100%;
  width: 100%;
}

/** Elements **/
.navigation {
  height: 32px;
  background-color: #fb8a38;
}

.card {
  gap: 24px;
  padding: 16px;
}
.card .header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.card .header .icon {
  height: 20px;
  width: 20px;
  margin: 0;
}
.card.img-left {
  display: flex;
}
.card.img-left img {
  width: 40px;
}
.card .controls {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

#Card {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #fff;
  border-radius: 16px;
}

/** Pages **/
#Home {
  margin-inline: auto;
}
#Home section section {
  margin-bottom: 48px;
}
#Home section section:last-child {
  margin-bottom: 0;
}
#Home > :last-child h2 {
  text-transform: none;
}
#Home > section {
  margin-top: 96px;
  margin-bottom: 64px;
}
#Home > section:first-child img {
  width: 262px;
  margin-inline: auto;
}
#Home > section:nth-child(2) > :first-child p,
#Home > section:nth-child(2) > p, #Home > section:nth-child(3) > :first-child p,
#Home > section:nth-child(3) > p {
  width: 323px;
  margin-inline: auto;
}
#Home > section:nth-child(2) > :last-child {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
}
#Home > section:nth-child(2) > :last-child > * {
  margin-bottom: 8px;
}
#Home > section:nth-child(2) > :last-child > *:last-child {
  margin-bottom: 0;
}

.Pomodoro h2 {
  text-align: left;
  font-family: GeneralSans-Semibold;
  margin-bottom: 8px;
}
.Pomodoro > :nth-child(2) {
  margin-bottom: 32px;
}
.Pomodoro > * {
  margin-bottom: 48px;
}
.Pomodoro .Timer {
  text-align: center;
  margin-bottom: 56px;
}
.Pomodoro .Timer > * {
  margin-bottom: 32px;
}
.Pomodoro .Timer .timer-clock {
  font-family: GeneralSans-Bold;
  font-size: 108px;
  line-height: 90%;
  letter-spacing: -0.02em;
}
.Pomodoro .Timer .timer-btns {
  position: relative;
}
.Pomodoro .Timer .start {
  margin-inline: auto;
  font-size: 16px;
  padding: 16px 40px;
}
.Pomodoro .Timer .reset {
  position: absolute;
  right: 0;
  top: 0;
}
.Pomodoro .display-options,
.Pomodoro .list-option-btns,
.Pomodoro .timer-options {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 8px;
}
.Pomodoro .display-options ul,
.Pomodoro .list-option-btns ul,
.Pomodoro .timer-options ul {
  display: grid;
  gap: 8px;
  list-style: none;
}
.Pomodoro .display-options ul button,
.Pomodoro .list-option-btns ul button,
.Pomodoro .timer-options ul button {
  width: 100%;
}
.Pomodoro .display-options button,
.Pomodoro .list-option-btns button,
.Pomodoro .timer-options button {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
}
.Pomodoro .display-options button.active,
.Pomodoro .list-option-btns button.active,
.Pomodoro .timer-options button.active {
  background-color: #fff;
  color: #000;
}
.Pomodoro .display-options ul {
  grid-template-columns: repeat(2, 1fr);
}
.Pomodoro .list-option-btns ul,
.Pomodoro .timer-options ul {
  grid-template-columns: repeat(3, 1fr);
}
.Pomodoro .hidden {
  display: none;
}
.Pomodoro div.list-option-lists {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: 48px;
  padding: 24px 16px;
}
.Pomodoro div.list-option-lists > * {
  margin-bottom: 24px;
}
.Pomodoro ul.list-option-lists#active > *,
.Pomodoro ul.list-option-lists > .lists > * {
  margin-bottom: 24px;
}
.Pomodoro ul.list-option-lists#active > :last-child,
.Pomodoro ul.list-option-lists > .lists > :last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .Pomodoro .Timer .timer-options {
    border: none;
    margin-bottom: 16px;
  }
  .Pomodoro .Timer .timer-options button {
    font-family: GeneralSans-Regular;
    padding: 10px;
  }
  .Pomodoro .Timer .timer-options button.active {
    font-family: GeneralSans-Bold;
    background-color: transparent;
    color: #fff;
  }
}
@media (min-width: 1024px) {
  /** Headers, Buttons, Img and Spacing DEFAULTS **/
  h1 {
    font-size: 108px;
    text-align: left;
  }
  h1 + p {
    font-size: 32px;
    margin-left: 0;
    margin-top: 40px;
    text-align: left;
    width: 500px;
  }
  h1 + p + .button {
    margin-top: 64px;
    margin-left: 0;
  }
  h2 {
    font-size: 64px;
  }
  h2 + button,
  h2 + .button {
    margin-top: 48px;
  }
  h3 {
    font-size: 32px;
  }
  h3.card-title {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
  button,
  .button {
    font-size: 16px;
    padding: 16px 40px;
  }
  button + p,
  .button + p {
    margin-top: 48px;
  }
  /** Elemets **/
  /** Pages **/
  #Home > * {
    width: 1247px;
    margin-inline: auto;
  }
  #Home > :first-child {
    display: flex;
    align-items: center;
    margin-top: 96px;
  }
  #Home > :first-child > :first-child {
    width: 724px;
  }
  #Home > :last-child {
    margin-bottom: 96px;
  }
  #Home > :last-child h2 {
    font-size: 48px;
  }
  #Home > section {
    margin-top: 160px;
  }
  #Home > section:first-child img {
    height: 100%;
    width: 356px;
    margin-inline: auto;
  }
  #Home > section > section {
    margin-bottom: 64px;
  }
  #Home > section:nth-child(2) > :first-child p,
  #Home > section:nth-child(2) > p, #Home > section:nth-child(3) > :first-child p,
  #Home > section:nth-child(3) > p {
    width: 587px;
    margin-inline: auto;
  }
  #Home > section:nth-child(2) > :last-child {
    background-color: transparent;
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, 1fr);
  }
  #Home > section:nth-child(2) > :last-child > * {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 0;
  }
  #Home > section:nth-child(2) > :last-child > * img {
    width: 100px;
  }
}/*# sourceMappingURL=index.css.map */